{% extends "core/base.html" %}

{% block title %}Alterar Senha de {{ target_user.username }}{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Alterar Senha de <span class="text-primary">{{ target_user.username }}</span></h1>
</div>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <a href="{% url 'core:user_management' %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-dark">Salvar Nova Senha</button>
        </form>
    </div>
</div>
{% endblock %}