{% load auth_extras %}
{% with request.resolver_match.url_name as url_name %}
<aside class="sidebar d-flex flex-column" id="sidebarMenu">
    <a class="navbar-brand text-center px-3 fs-1 mb-5" href="{% url 'base:home' %}">
        <i class="bi bi-exclude text-white"></i>
        <span class="text-white">SARA</span>
        <small class="brand-highlight d-block" style="font-size: 12px;">Sistema de Apoio à Revisão e Análise</small>
    </a>

    <nav class="sidebar-nav flex-grow-1">
        <ul class="nav flex-column ">
            <li class="nav-item">
                <a href="{% url 'base:home' %}"
                    class="nav-link {{ url_name|is_active:'home' }}">
                    <i class="bi bi-house-door-fill"></i>Home
                </a>
            </li>
            <li class="nav-item">
                <div class="btn-group dropdown w-100">
                    <a href="{% url 'phoenix:phoenix' %}"
                        class="nav-link {{ url_name|is_active:'phoenix' }} w-100">
                        <i class="bi bi-fire"></i>Phoenix
                    </a>
                    <button 
                        class="btn text-white border-0 rounded-0 dropdown-toggle dropdown-toggle-split collapsed"  
                        type="button" data-bs-toggle="collapse" data-bs-target="#phoenix-collapse" 
                        aria-expanded="false" aria-controls="phoenix-collapse"></button>
                </div>
                <nav  class="collapse nav flex-column" id="phoenix-collapse">
                    <a class="nav-link sub-link" href="#"><i class="bi bi-file-earmark-text"></i>Boletim</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-inboxes"></i>Procedimento</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-blockquote-left"></i>Relato</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-person-standing"></i>Pessoa</a>
                </nav >
            </li>
            <li class="nav-item">
                <div class="btn-group dropdown w-100">
                    <a href="{% url 'nexus:nexus' %}"
                        class="nav-link {{ url_name|is_active:'nexus' }} w-100">
                        <i class="bi bi-bezier2"></i>Nexus
                    </a>
                    <button 
                        class="btn text-white border-0 rounded-0 dropdown-toggle dropdown-toggle-split collapsed"  
                        type="button" data-bs-toggle="collapse" data-bs-target="#nexus-collapse" 
                        aria-expanded="false" aria-controls="nexus-collapse"></button>
                </div>
                <nav  class="collapse nav flex-column" id="nexus-collapse">
                    <a class="nav-link sub-link" href="#"><i class="bi bi-symmetry-vertical"></i>Duplicados</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-journal-medical"></i>DataSUS</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-badge-cc"></i>CaoCriminal</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-file-earmark-text"></i>Aditamento</a>
                    <a class="nav-link sub-link" href="#"><i class="bi bi-search"></i>Consultor</a>
                </nav >
            </li>
        </ul>
    </nav>
    <nav class="sidebar-footer">
        <a href="{% url 'base:user_profile' user.pk %}" class="nav-link text-center px-3 fs-1">
            <div class="sidebar-header d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <img src="{{ user.profile_picture.url }}" alt="Foto de {{ user.username }}">
                    <div class="user-info d-flex flex-column align-items-start justify-content-center">
                        <h6 class="fw-bold">{{ user.get_full_name|default:user.username }}</h6>
                        <small>{% get_group user %}</small>
                    </div>
                </div>
                <button class="btn btn-dark border-0">
                    <i class="bi bi-gear-fill"></i>
                </button>
            </div>
        </a>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'user_list' %}active{% endif %}" href="{% url 'base:user_list' %}"><i class="fa-solid fa-users"></i> Usuários</a>
            </li>
            {% if request.user|has_group:"Administrador" or request.user|has_group:"Coordenador" or request.user|has_group:"Gerente" %}
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'user_management' %}active{% endif %}" href="{% url 'base:user_management' %}"><i class="fa-solid fa-gear"></i> Gerenciar</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <form action="{% url 'base:logout' %}" method="post" class="d-inline w-100">
                    {% csrf_token %}
                    <button type="submit" class="nav-link logout-button">
                        <i class="fa-solid fa-right-from-bracket"></i> Sair
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</aside>
{% endwith %}