{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>SARA - Sistema de Apoio à Revisão e Análise</title>

    <!-- Google Fonts: Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- ICON  -->
    <link rel="shortcut icon" href="{% static 'media/favicon.ico'%}" type="image/x-icon">

    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    
    <!-- statics -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>

    {% block static %}{% endblock %}
</head>
<body class="{% if user.is_authenticated %}{{ user.theme }}{% else %}light{% endif %}">
    {% if user.is_authenticated %}
    <div class="main-wrapper">
        {% include 'aside-menu.html' %}
        <div id="main-container" class="flex-grow-1 d-flex flex-column position-relative">
            {% include 'loading.html' %}
            <main class="main-content">

                {% include 'messages.html' %}
                {% block content %}{% endblock %}

            </main>
        </div>
        {% include 'aside-info.html' %}
    </div>
    {% else %}
        {% include 'login.html' %}
    {% endif %}
</body>
</html>