env/
db.sqlite3
core/.env
core/instantclient/
core/__pycache__/
apps/base/__pycache__/
apps/base/migrations/__pycache__/
apps/base/templatetags/__pycache__/
apps/phoenix/__pycache__/
apps/phoenix/migrations/__pycache__/
