{% extends "core/base.html" %}

{% block title %}Gerenciar Acesso de {{ target_user.username }}{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Gerenciar Acesso de <span class="text-primary">{{ target_user.username }}</span></h1>
</div>
<p>Selecione as aplicações que este usuário poderá acessar.</p>

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset class="mb-3">
                <legend class="fs-6 mb-3">{{ form.applications.label }}</legend>
                {% for checkbox in form.applications %}
                    <div class="form-check">
                        {{ checkbox.tag }}
                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                            {{ checkbox.choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
            <hr>
            <a href="{% url 'core:user_management' %}" class="btn btn-light">Cancelar</a>
            <button type="submit" class="btn btn-dark">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock %}