{% extends "core/base.html" %}

{% block title %}Módulo: {{ module_name }}{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Módulo: {{ module_name }}</h1>
</div>
<div class="text-center mt-5">
    <div class="card border-0 bg-transparent">
        <div class="card-body p-5">
            <div class="display-1 text-primary mb-4">
                <i class="fa-solid fa-puzzle-piece"></i>
            </div>
            <h1 class="display-4">Bem-vindo ao módulo</h1>
            <p class="display-5 text-primary">{{ module_name }}</p>
            <p class="lead text-muted">Este é um espaço reservado para uma futura aplicação. O conteúdo e as funcionalidades específicas deste módulo serão implementados aqui.</p>
        </div>
    </div>
</div>
{% endblock %}