<!-- =================================================================== -->
<!--             templates/core/password_change_form.html              -->
<!-- =================================================================== -->
{% extends "core/base.html" %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Alterar sua Senha</h1>
</div>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            
            {% comment %} Lógica corrigida para o botão Cancelar {% endcomment %}
            {% url 'core:user_list' as fallback_url %}
            <a href="{{ request.META.HTTP_REFERER|default:fallback_url }}" class="btn btn-light">Cancelar</a>

            <button type="submit" class="btn btn-dark">Salvar Nova Senha</button>
        </form>
    </div>
</div>
{% endblock %}