{% extends "core/base.html" %}
{% load auth_extras %}

{% block title %}
    {% if request.resolver_match.url_name == 'user_create' %}Criar Usuário
    {% elif request.resolver_match.url_name == 'self_profile_update' %}Editar Meu Perfil
    {% else %}Editar Usuário{% endif %}
{% endblock %}

{% block content %}
<div class="main-header">
    <h1>
        {% if request.resolver_match.url_name == 'user_create' %}Criar Novo Usuário
        {% elif request.resolver_match.url_name == 'self_profile_update' %}Editar Meu Perfil
        {% else %}Editar Usuário{% endif %}
    </h1>
</div>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    
                    {% comment %} Bloco especial para checkboxes {% endcomment %}
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <div class="form-check mt-2">
                            {{ field }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    
                    {% if field.help_text %}
                        <div class="form-text text-muted">{{ field.help_text }}</div>
                    {% endif %}
                    
                    {% for error in field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <hr>
            
            {% if request.META.HTTP_REFERER %}
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-light">Cancelar</a>
            {% else %}
                {% if request.user|has_group:"Administrador" or request.user|has_group:"Coordenador" or request.user|has_group:"Gerente" %}
                    <a href="{% url 'core:user_management' %}" class="btn btn-light">Cancelar</a>
                {% else %}
                    <a href="{% url 'core:user_list' %}" class="btn btn-light">Cancelar</a>
                {% endif %}
            {% endif %}

            <button type="submit" class="btn btn-dark">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}