{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>SARA - Sistema de Apoio à Revisão e Análise</title>

    <!-- Google Fonts: Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- ICON  -->
    <link rel="shortcut icon" href="{% static 'media/favicon.ico'%}" type="image/x-icon">

    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" defer></script>
    
    <!-- statics -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>

    {% block static %}{% endblock %}
</head>
<body class="{% if user.is_authenticated %}{{ user.theme }}{% else %}light{% endif %}">
    <div class="main-wrapper navbar-expand-lg">
        {% include 'base/aside-menu.html' %}
        <div id="main-container" class="flex-grow-1 d-flex flex-column position-relative">
            <header class="top-header d-flex align-items-center justify-content-between border-bottom p-2">
                <div class="d-flex align-items-center">
                    <button class="btn btn-light d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu">
                        <i class="bi bi-list"></i>
                    </button>
                    {% block breadcrumb %}
                    {% endblock %}
                </div>
                <div class="me-2">
                    <button type="button" class="btn btn-outline-light text-dark border-0 rounded-circle"><i class="bi bi-bell"></i></button>
                    <button type="button" class="btn btn-outline-light text-dark border-0 rounded-circle"><i class="bi bi-info-circle"></i></button>
                    <button class="btn btn-light d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarInfo" aria-controls="sidebarInfo">
                        <i class="bi bi-layout-sidebar-reverse"></i>
                    </button>
                </div>
            </header>
            <main class="main-content">
                
                {% include 'base/messages.html' %}
                {% block content %}{% endblock %}
                
            </main>
            {% include 'base/loading.html' %}
        </div>
        {% include 'base/aside-info.html' %}
    </div>
    {% include 'base/login.html' %}
</body>
</html>