:root {
    /* Paleta de cores personalizada para o Bootstrap */
    --bs-primary: #4a90e2 !important;
    --bs-primary-rgb: 74, 144, 226 !important;

    --bs-dark: #1a2533 !important;
    --bs-dark-rgb: 26, 37, 51 !important;

    --bs-body-font-family: 'Poppins', sans-serif;
}

/* Ajustes finos no layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex-grow: 1;
}

#main-container{
    overflow-y: auto;
    height: 100vh;
}

/* Estilo da barra lateral */
#sidebarInfo{
    background-color: var(--bs-info-bg) !important;
    width: 350px !important;
}

#sidebarMenu{
    background-color: var(--bs-dark) !important; /* Um azul escuro mais moderno */
    width: 280px !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar .navbar-brand {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar .navbar-brand .brand-highlight {
    color: var(--bs-primary);
}


.sidebar .nav-item .nav-link .bi {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.sidebar .nav-item .nav-link.sub-link .bi {
    font-size: 1rem;
}

.sidebar .nav-link,
.sidebar .sidebar-user,
.sidebar .sidebar-user button,
.sidebar .sidebar-user a {
    color: #adb5bd;
    font-size: 0.95rem;
    text-decoration: none;
}

.sidebar .nav-link{
    padding: 0.75rem 1.5rem;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.sidebar .nav-link.sub-link {
    padding: 0.25rem 1.5rem;
    font-size: 0.94rem;
    margin-left: 25px ;
}

.sidebar .nav-item:hover .nav-link:not(.sub-link),
.sidebar .nav-item:hover .dropdown-toggle{
    color: #fff;
    border-left-color: var(--bs-primary);
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar .nav-link.sub-link:hover{
    color: #fff;
    /* background-color: rgba(170, 170, 170, 0.05); */
}

.sidebar .nav-link.active:not(.sub-link),
.sidebar .nav-link.active:not(.sub-link) ~ .dropdown-toggle{
    color: #fff;
    font-weight: 500;
    background-color: rgba(var(--bs-primary-rgb), 0.1);
    border-left-color: var(--bs-primary);
}

.sidebar .nav-item:hover .dropdown-toggle:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.123);
}


.sidebar .sidebar-user .user-info{
    background-color: rgba(255, 255, 255, 0.035);
    transition: all 0.3s ease;
    width: 100%;
}

.sidebar .sidebar-user .user-info:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar .sidebar-user .user-info a:hover,
.sidebar .sidebar-user .user-info button:hover{
    color: #fff;
}

.sidebar .sidebar-user .user-info:hover img{
    border-color:#ffffff49;
}

.sidebar .sidebar-user .user-info img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.75rem;
    transition: all 0.3s ease;
    border: 3px solid rgba(255, 255, 255, 0.05);
}

.sidebar .sidebar-user .user-info h6 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.sidebar .sidebar-user .user-info small {
    font-size: 0.75rem;
    color: var(--text-muted-dark);
    word-break: break-all;
}

.sidebar .sidebar-settings a,
.sidebar .sidebar-settings button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.sidebar .sidebar-settings a:hover,
.sidebar .sidebar-settings button:hover {
    color: #fff;
}

/* Conteúdo Principal */
.main-content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

/* Estilo para o indicador de status online */
.status-indicator {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
}
.status-online { background-color: #12d448; } /* Bootstrap success */
.status-offline { background-color: #adb5bd; } /* Bootstrap secondary */